
{% extends 'base.html' %}
    {% block title %}
<title>Hello Homepages</title>
{% endblock %}
 
{% block content %}

<h1> Hello Flask Templates</h1>

<div>
   {% if post %}
   {% for post in post %}
    <p>{{post.id}} </p>
    <p>{{post.title}} </p>
    
    <p>{{post.body[0:130] | safe }} </p>
    <a href="/single/{{post.id}}">Read More</a>
    <p>{{post.date.strftime('%Y %B %d')}} </p>
    <img src="{{url_for('static', filename='images/'+post.img)}}" alt="">
<br>
    <a href="/edit/{{post.id}}"> <button class="btn btn-success"> EDIT</button></a>
    <a href="/delete/{{post.id}}"> <button class="btn btn-danger">DELETE</button></a>
<br> <br>
    {% endfor %}

    {% else %}
    <p> There is no data</p>
    {% endif %}
    
</div>

{% include 'footer.html' %}
{% endblock %}
   
   
